<style>
    #platform-components-others .layui-card-header {
        font-weight: 600;
    }

    #platform-components-others p {
        margin-bottom: 10px
    }
    #platform-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #platform-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim platform-anim" id="platform-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 platform-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge platform-tag-green">platform-tag-green</span>
                        <span class="layui-badge platform-tag-magenta">platform-tag-magenta</span>
                        <span class="layui-badge platform-tag-orange">platform-tag-orange</span>
                        <span class="layui-badge platform-tag-red">platform-tag-red</span>
                        <span class="layui-badge platform-tag-volcano">platform-tag-volcano</span>
                        <span class="layui-badge platform-tag-gold">platform-tag-gold</span>
                        <span class="layui-badge platform-tag-lime">platform-tag-lime</span>
                        <span class="layui-badge platform-tag-cyan">platform-tag-cyan</span>
                        <span class="layui-badge platform-tag-blue">platform-tag-blue</span>
                        <span class="layui-badge platform-tag-geekblue">platform-tag-geekblue</span>
                        <span class="layui-badge platform-tag-purple">platform-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge platform-bg-green">.platform-bg-green</span>
                        <span class="layui-badge platform-bg-magenta">platform-bg-magenta</span>
                        <span class="layui-badge platform-bg-orange">platform-bg-orange</span>
                        <span class="layui-badge platform-bg-red">platform-bg-red</span>
                        <span class="layui-badge platform-bg-volcano">platform-bg-volcano</span>
                        <span class="layui-badge platform-bg-gold">platform-bg-gold</span>
                        <span class="layui-badge platform-bg-lime">platform-bg-lime</span>
                        <span class="layui-badge platform-bg-cyan">platform-bg-cyan</span>
                        <span class="layui-badge platform-bg-blue">platform-bg-blue</span>
                        <span class="layui-badge platform-bg-geekblue">platform-bg-geekblue</span>
                        <span class="layui-badge platform-bg-purple">platform-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="platform-alert-base platform-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="platform-alert-base platform-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="platform-alert-base platform-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="platform-alert-base platform-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>